* { margin:0; padding:0; border:0; box-sizing: border-box; }


body {
  background-color:black;
 
}

.progressBar {
  width: 100%;
  
  border: 10px;
  border-style: solid;
  border-color: red;
}

#progressBarSpan {
  height: 50px;
}

.col {
  height: 100%;
  margin: auto;
}

.v1 {
  width: 85%;
  border: 5px;
  border-style: dotted;
  border-color: black;
  float: left;
}

.v2 {
  width: 15%;
  border: 5px;
  height: 57em;
  border-style: dashed;
  border-color: black;
  float: right;
  
}

#remainingTime {
  color: yellow;
  ;
}

#playbackSpeedLabel {
  color: yellow
}

.fileDetectedLabel {
  color: yellow
}

#slash {
  color: yellow;
  padding-left: 5px;
  padding-right: 5px;
}

#screenshot {
  margin-right: 5px;
  float: right;
  overflow-y: auto;
  height: 100%;
  width: 240px; 
  margin: 0 0 0 0;
}

.player-wrapper {
  align-content: center;
  width: 90%;
  border: 2px;
  border-style: solid;
  border-color: whitesmoke;
}

.functionButtons {
  border: 2px;
  border-color: black;
  border-style: dashed;
  width: 100%
}

#playPauseButton {
  background-color: black;
  color: rgb(2, 178, 172);
}
/* #playPauseButton:hover + .hide {
  display:block;
  color: white
} */

#playbackSpeedLabel {
  padding-left: 1%;
  padding-right: 1%;
}

#currentTime {
  padding-left: 5%;
  color: yellow;
}

#screenshotButton {
  background-color: black;
  color: gray;
  padding-left: 5%;
}

#downloadButton {
  background-color: black;
  color: gray;
  padding-right: 5%;
}

#goForwardButton {
  padding-left: 4%;
  background-color: black;
  color: rgb(2, 178, 172);
}

#goBackwardButton {
  padding-right: 5%;
  padding-left: 5%;
  background-color: black;
  color: rgb(2, 178, 172);
}

.center {
  margin: auto;
  width: 50%;
}
.centerFunctionButtons {
  margin: auto;
  width: 51%;
}

#thumbnails {
  width: 100%;
}